<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title><%= title %></title>
        <link href="layout.css" rel="stylesheet" type="text/css" />
        <!--<script type="text/javascript" src="validation.js"/>-->
    </head>
    <body>
        <div class="login">
        <% if (typeof(session) != 'undefined' && session.loggedIn) { %>
            Logged in as <a href="/users/<%= session.user.name %>"><%= session.user.name %></a><br/>
            <% if (session.isAdmin) { %>
            <a href="/write">Write a new blog post</a><br/>
            <% } %>
            <a href="/logout">Log out</a>
        <% } else { %>
            <a href="/login">Log in</a>
        <% } %>
        </div>
        <div class="header">
            <h1><%= title %><h1>
        </div>
        <div class="main">
            <%- body %>
        </div>
    </body>
</html>
