<% for (var post in posts) { %>
    <div class="blog">
        <h2>
            <a href="/<%= posts[post]._id%>"><%= posts[post].title %></a>
        </h2>
        <p class="author">
            by <%= posts[post].author %>
        </p>
        <p class="date">
            <%= posts[post].date.toLocaleDateString() %>
        </p>
        <p class="body">
            <%- posts[post].body %>
        </p>
        <p class="comments">
            <a href="/<%= posts[post]._id %>">Read the <%= posts[post].comments.length %> comments and write your own</a>
        </p>
        <% if (typeof(session) != 'undefined' && session.isAdmin) { %>
        <p class="admin">
            admin buttons to edit/delete
        </p>
        <% } %>
    </div>
<% } %>